<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cat.manage.dict.dao.DictDao">
    
    <resultMap id="dictMap" type="com.cat.manage.dict.domain.Dict">
        <id property="id" column="id" />
        <result property="name" column="name" />
        <result property="code" column="code" />
        <result property="type" column="type" />
        <result property="description" column="description" />
    </resultMap>
    
    <resultMap id="dictItemMap" type="com.cat.manage.dict.domain.DictItem">
        <id property="id" column="id" />
        <result property="typeId" column="typeId" />
        <result property="name" column="name" />
        <result property="value" column="value" />
        <result property="code" column="code" />
        <result property="description" column="description" />
    </resultMap>
      
    <!-- 查询所有字典 -->
    <select id="queryAllDicts" resultMap="dictMap">
        SELECT id, name, code, type, description FROM t_dict_type
    </select>
    
    <!-- 根据Id获得字典 -->
    <select id="queryDictById" parameterType="int" resultMap="dictMap">
        SELECT id, name, code, type, description FROM t_dict_type WHERE id = #{id}
    </select>
    
    <!-- 根据code获得字典 -->
    <select id="queryDictByCode" parameterType="java.lang.String" resultMap="dictMap">
        SELECT id, name, code, type, description FROM t_dict_type WHERE code = #{code}
    </select>
    
    <select id="queryDictsByType" parameterType="java.lang.String" resultMap="dictMap">
        SELECT id, name, code, type, description FROM t_dict_type WHERE type = #{type}
    </select>
    
    <!-- 增加一个字典 -->
    <insert id="insertDict" parameterType="com.cat.manage.dict.domain.Dict">
        INSERT INTO t_dict_type (name, code, type, description) VALUES (#{name}, #{code}, #{type}, #{description})
    </insert>
    
    <!-- 删除一个字典 -->
    <delete id="deleteDictById" parameterType="int">
        DELETE FROM t_dict_type WHERE id = #{id}
    </delete>
    
    <!-- 删除多个字典 -->
    <delete id="deleteDictMore" parameterType="java.lang.Integer">
    	DELETE FROM t_dict_type WHERE id IN
    	<foreach collection="array" item="id" open="(" separator="," close=")">#{id}</foreach>
    </delete>
    
    <!-- 更新一个字典 -->
    <update id="updateDict" parameterType="com.cat.manage.dict.domain.Dict">
        UPDATE t_dict_type SET name=#{name}, code=#{code}, type=#{type}, description=#{description} WHERE id=#{id} 
    </update>
    
    <!-- 根据字典Id查询所有字典项 -->
    <select id="queryAllItemsByDictId" parameterType="int" resultMap="dictItemMap">
        SELECT id, typeId, name, value, code, description FROM t_dict_item WHERE typeId = #{id}
    </select>
    
    <!-- 增加一个字典项 -->
    <insert id="insertDictItem" parameterType="com.cat.manage.dict.domain.DictItem">
        INSERT INTO t_dict_item (typeId, name, value, code, description) VALUES (#{typeId}, #{name}, #{value}, #{code}, #{description})
    </insert>
    
    <!-- 删除一个字典项 -->
    <delete id="deleteDictItem" parameterType="int">
        DELETE FROM t_dict_item WHERE id = #{id}
    </delete>
    
    <!-- 删除多个字典项 -->
    <delete id="deleteDictItemMore" parameterType="java.lang.Integer">
    	DELETE FROM t_dict_item WHERE id IN
    	<foreach collection="array" item="id" open="(" separator="," close=")">#{id}</foreach>
    </delete>
    
    <!-- 根据一个字典ID 删除字典项 -->
    <delete id="deleteDictItemByTypeid" parameterType="int">
    	DELETE FROM t_dict_item WHERE typeId = #{typeId}
    </delete>
    
    <!-- 根据字典ID删除多个字典项 -->
    <delete id="deleteDictItemMoreByTypeid" parameterType="java.lang.Integer">
    	DELETE FROM t_dict_item WHERE typeId IN
    	<foreach collection="array" item="typeId" open="(" separator="," close=")">#{typeId}</foreach>
    </delete>
    
    <!-- 更新一个字典项 -->
    <update id="updateDictItem" parameterType="com.cat.manage.dict.domain.DictItem">
        UPDATE t_dict_item SET name=#{name}, value=#{value}, code=#{code}, description=#{description} WHERE id=#{id}
    </update>
    
    <!-- 模糊查询字典项 -->
    <select id="queryFuzzyItem" parameterType="com.cat.manage.dict.domain.DictItem" resultMap="dictItemMap">
    	select id, name, value, code, description, typeId from t_dict_item  where 1=1
    	
   		<if test="id != null and id != ''">
   			and id = #{id}
   		</if>
   		<if test="typeId != null and typeId != ''">
   			and typeId = #{typeId}
   		</if>
   		<if test="name != null and name != ''">
   			and name like '%${name}%'
   		</if>
   		<if test="value != null and value != ''">
   			and value like '%${value}%'
   		</if>
   		<if test="code != null and code != ''">
   			and code like '%${code}%'
   		</if>
    </select>
</mapper>
