<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cat.manage.order.dao.OrderDao">

	<cache type="org.mybatis.caches.ehcache.LoggingEhcache"></cache>

	<resultMap type="com.cat.manage.order.domain.Order" id="orderResultMap">
		<id property="orderId" column="order_id"/>
		<result property="foreignState" column="foreign_state"/>
		<result property="transfer" column="transfer"/>
		<result property="affirmState" column="affirm_state"/>
		<result property="remark" column="remark"/>
		<result property="payby" column="payby"/>
		<result property="createDate" column="create_date"/>
		<result property="updateDate" column="update_date"/>
		<result property="createDateFormat" column="createDateFormat"/>
		<result property="updateDateFormat" column="updateDateFormat"/>
		<result property="sumOrderPrice" column="sum_order_price"/>
		<result property="sumTransferPrice" column="sum_transfer_price"/>
		<result property="sumCostPrice" column="sum_cost_price"/>
		<result property="sumSellingPrice" column="sum_selling_price"/>
		<result property="sumSubOrderNum" column="sum_subordernum"/>
		
	</resultMap>
	
	<!-- 添加订单 -->
	<insert id="addOrder" parameterType="com.cat.manage.order.domain.Order">
		insert t_order (foreign_state, transfer, affirm_state, payby, create_date, update_date)
		values(#{foreignState},#{transfer},#{affirmState}, #{payby}, now(), now())
	</insert>
	
	<!-- 查询单个订单 -->
	<select id="queryOrderById" parameterType="java.lang.Integer">
		select order_id, foreign_state, transfer, affirm_state, remark, payby, create_date, update_date, date_format(create_date, '%Y年%m月%d日 %T') as createDateFormat, date_format(update_date, '%Y年%m月%d日 %T') as updateDateFormat, 
		IFNULL((select num*order_price from t_suborder where super_order_id = t.order_id),0.00) as sum_order_price,
		IFNULL((select num*transfer_price from t_suborder where super_order_id = t.order_id),0.00) as sum_transfer_price,
		IFNULL((select num*cost_price from t_suborder where super_order_id = t.order_id),0.00) as sum_cost_price,
		IFNULL((select num*selling_price from t_suborder where super_order_id = t.order_id),0.00) as sum_selling_price
		
		from t_order t where order_id = #{orderId}
	</select>
	
	<!-- 查询所有订单 -->
	<select id="queryOrderAll" parameterType="com.cat.manage.order.domain.Order" resultMap="orderResultMap">
		select order_id, foreign_state, transfer, affirm_state, remark, payby, create_date, update_date, date_format(create_date, '%Y年%m月%d日 %T') as createDateFormat, date_format(update_date, '%Y年%m月%d日 %T') as updateDateFormat, 
		IFNULL((select sum(num*order_price) from t_suborder where super_order_id = t.order_id),0.00) as sum_order_price,
		IFNULL((select sum(num*transfer_price) from t_suborder where super_order_id = t.order_id),0.00) as sum_transfer_price,
		IFNULL((select sum(num*cost_price) from t_suborder where super_order_id = t.order_id),0.00) as sum_cost_price,
		IFNULL((select sum(num*selling_price) from t_suborder where super_order_id = t.order_id),0.00) as sum_selling_price,
		IFNULL((select count(1) from t_suborder where super_order_id = t.order_id),0) as sum_subordernum
		
		from t_order t where 1=1 
		<if test="param1.foreignState != null and param1.foreignState != ''">
			and foreign_state = #{param1.foreignState}
		</if>
		<if test="param1.transfer != null and param1.transfer != ''">
			and transfer= #{param1.transfer}
		</if>
		<if test="param1.affirmState != null and param1.affirmState != ''">
			and affirm_state = #{param1.affirmState}
		</if>
		  
		<if test="param2 != null and param2 != ''">
			and DATE_FORMAT(create_date, '%Y%m%d') &gt;= #{param2}
		</if>
		<if test="param3 != null and param3 != ''">
			and DATE_FORMAT(create_date, '%Y%m%d') &lt;= #{param3}
		</if>
		order by update_date desc
		
	</select>
	
	<!-- 修改单个主订单 -->
	<update id="updateOrder" parameterType="com.cat.manage.order.domain.Order">
		update t_order set update_date=now()
		<if test="foreignState != null and foreignState != ''">
			, foreign_state = #{foreignState}
		</if>
		<if test="transfer != null and transfer != ''">
			, transfer= #{transfer}
		</if>
		<if test="affirmState != null and affirmState != ''">
			, affirm_state = #{affirmState}
		</if>
		<if test="remark != null and remark != ''">
			, remark = #{remark}
		</if>
		<if test="payby != null and payby != ''">
			, payby = #{payby}
		</if>
		 where order_id = #{orderId}
	</update>
	
	<!-- 删除主订单 -->
	<delete id="deleteOrder" parameterType="java.lang.Integer">
		delete from t_order where order_id = #{orderId}
	</delete>
	
	<!-- 更新主订单状态 -->
	<update id="updateOrderForstatus">
		update t_order set update_date=now()
		<if test="param2 != null and param2 != ''">
			, foreign_state = #{param2}
		</if>
		<if test="param3 != null and param3 != ''">
			, transfer= #{param3}
		</if>
		<if test="param4 != null and param4 != ''">
			, affirm_state = #{param4}
		</if>
		where order_id = #{param1}
	</update>
	
</mapper>