<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cat.manage.base.dao.SeriesDao">
	<resultMap type="com.cat.manage.base.domain.Series" id="seriesResultMap">
		<id property="seriesId" column="series_id"/>
		<result property="seriesName" column="series_name"/>
		<result property="seriesEname" column="series_ename"/>
		<result property="ofOrigin" column="of_origin"/>
		<result property="isUse" column="is_use"/>
		<result property="createDate" column="create_date"/>
		<result property="updateDate" column="update_date"/>
		<result property="createBy" column="create_by"/>
		<result property="updateBy" column="update_by"/>
		<result property="createDateFormat" column="createDateFormat"/>
		<result property="updateDateFormat" column="updateDateFormat"/>
	</resultMap>
	
	<!-- 添加系列信息 -->
	<insert id="addSeries" parameterType="com.cat.manage.base.domain.Series">
		insert into t_series(series_name, series_ename, of_origin, is_use, create_date, create_by, update_date, update_by)
		values(#{seriesName}, #{seriesEname}, #{ofOrigin}, #{isUse}, now(), 'system', now(), 'system')
	</insert>
	
	<!-- 修改系列信息 -->
	<update id="updateSeries" parameterType="com.cat.manage.base.domain.Series">
		update t_series set update_date=now() , update_by = 'system'
		<if test="seriesName != null and seriesName != ''">
			, series_name = #{seriesName}
		</if>
		<if test="seriesEname != null and seriesEname != ''">
			, series_ename = #{seriesEname}
		</if>
		<if test="ofOrigin != null and ofOrigin != ''">
			, of_origin = #{ofOrigin}
		</if>
		<if test="isUse != null and isUse != ''">
			, is_use = #{isUse}
		</if>
		where series_id = #{seriesId}
	</update>
	
	<!-- 删除系列信息 -->
	<delete id="deleteSeries" parameterType="java.lang.Integer">
		delete from t_series where series_id = #{seriesId}
	</delete>
	
	<!-- 查询系列信息 -->
	<select id="querySeries" parameterType="com.cat.manage.base.domain.Series" resultMap="seriesResultMap">
		select series_id, series_name, series_ename, of_origin, is_use, create_date, create_by, update_date, update_by, date_format(create_date, '%Y年%m月%d日 %T') as createDateFormat, date_format(update_date, '%Y年%m月%d日 %T') as updateDateFormat 
		from t_series where 1=1
		<if test="ofOrigin != null and ofOrigin != ''">
			and of_origin = #{ofOrigin}
		</if>
		<if test="isUse != null and isUse != ''">
			and is_use = #{isUse}
		</if>
		order by create_date desc
	</select>
</mapper>