<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cat.manage.store.dao.StoreDao">

	<cache type="org.mybatis.caches.ehcache.LoggingEhcache"></cache>

	<resultMap type="com.cat.manage.store.domain.Store" id="StoreResultMap">
		<id property="id" column="id"/>
		<result property="shippedId" column="shipped_id"/>
		<result property="checkId" column="check_id"/>
		<result property="trackingNumber" column="tracking_number"/>
		<result property="transferCompany" column="transfer_company"/>
		<result property="brandId" column="brand_id"/>
		<result property="seriesId" column="series_id"/>
		<result property="singleId" column="single_id"/>
		<result property="num" column="num"/>
		<result property="unitPrice" column="unit_price"/>
		<result property="payby" column="payby"/>
		<result property="unitRmb" column="unit_rmb"/>
		<result property="unitPostage" column="unit_postage"/>
		<result property="unitCost" column="unit_cost"/>
		<result property="remark" column="remark"/>
		<result property="sellNum" column="sell_num"/>
		<result property="storeTime" column="store_time"/>
		<result property="storeStatus" column="store_status"/>
		<result property="createDate" column="create_date"/>
		<result property="updateDate" column="update_date"/>
		<result property="createDateFormat" column="createDateFormat"/>
		<result property="updateDateFormat" column="updateDateFormat"/>
		<result property="brandName" column="brand_name"/>
		<result property="seriesName" column="series_name"/>
		<result property="singleName" column="single_name"/>
		<result property="residueNum" column="residue_num"/>
		<result property="brandEname" column="brand_ename"/>
		<result property="singleEname" column="single_ename"/>
		<!-- 新加字段  headTrackingNumber|batchNo -20160701 -->
		<result property="headTrackingNumber" column="head_tracking_number"/>
		<result property="batchNo" column="batch_no"/>
	</resultMap>
	
	<!-- 添加仓库信息 -->
	<insert id="addStore">
	insert into t_store(shipped_id, check_id, tracking_number, transfer_company, brand_id, series_id, single_id, num, unit_price, payby, unit_rmb, unit_postage, unit_cost, remark, store_time, store_status, create_date, update_date)
	values(#{param1.id}, #{param1.checkId}, #{param1.trackingNumber}, #{param1.transferCompany}, #{param1.brandId}, #{param1.seriesId}, #{param1.singleId}, #{param2.num}, #{param1.unitPrice}, #{param1.payby}, #{param2.unitRmb}, #{param2.unitPostage}, #{param2.unitCost}, #{param2.remark}, #{param2.storeTime}, #{param2.storeStatus}, now(), now())
	</insert>
	
	<!-- 修改仓库信息 -->
	<update id="updateStore" parameterType="com.cat.manage.store.domain.Store">
	update t_store set update_date=now() 
	<if test="unitRmb != null and unitRmb != ''">
	, unit_rmb = #{unitRmb}
	</if>
	<if test="unitPostage != null and unitPostage != ''">
	, unit_postage = #{unitPostage}
	</if>
	<if test="unitCost != null and unitCost != ''">
	, unit_cost = #{unitCost}
	</if>
	<if test="remark != null and remark != ''">
	, remark = #{remark}
	</if>
	<if test="sellNum != null">
	, sell_num = #{sellNum}
	</if>
	<if test="storeTime != null and storeTime != ''">
	, store_time = #{storeTime}
	</if>
	<if test="storeStatus != null and storeStatus != ''">
	, store_status = #{storeStatus}
	</if>
	<if test="num != null and num != ''">
	, num = #{num}
	</if>
	<if test="brandId != null and brandId != ''">
	, brand_id = #{brandId}
	</if>
	<if test="seriesId != null and seriesId != ''">
	, series_id = #{seriesId}
	</if>
	<if test="singleId != null and singleId != ''">
	, single_id = #{singleId}
	</if>
	where id = #{id}
	</update>
	
	<!-- 根据下单清单修改仓库信息（8项） -->
	<update id="updateStoreByCheckId" parameterType="com.cat.manage.store.domain.Store">
	update t_store set update_date=now() 
	<if test="num != null and num != ''">
	, num = #{num}
	</if>
	<if test="brandId != null and brandId != ''">
	, brand_id = #{brandId}
	</if>
	<if test="seriesId != null and seriesId != ''">
	, series_id = #{seriesId}
	</if>
	<if test="singleId != null and singleId != ''">
	, single_id = #{singleId}
	</if>
	<if test="unitPrice != null and unitPrice != ''">
	, unit_price = #{unitPrice}
	</if>
	<if test="payby != null and payby != ''">
	, payby = #{payby}
	</if>
	<if test="trackingNumber != null and trackingNumber != ''">
	, tracking_number = #{trackingNumber}
	</if>
	<if test="transferCompany != null and transferCompany != ''">
	, transfer_company = #{transferCompany}
	</if>
	<if test="storeStatus != null and storeStatus != ''">
	, store_status = #{storeStatus}
	</if>
	where check_id = #{checkId}
	</update>
	
	<!-- 根据仓库唯一编号删除仓库信息 -->
	<delete id="deleteStoreById" parameterType="java.lang.Integer">
	delete from t_store where id = #{id} 
	</delete>
	
	<!-- 根据下单清单唯一编号删除仓库信息 -->
	<delete id="deleteStoreByCheckId" parameterType="java.lang.Integer">
	delete from t_store where check_id = #{checkId} 
	</delete>
	
	<!-- 查询仓库信息 -->
	<select id="queryStore" resultMap="StoreResultMap">
	select t.id, t.shipped_id, t.check_id, t.tracking_number, t.transfer_company, t.brand_id, t.series_id, t.single_id, t.num, t.unit_price, t.payby, t.unit_rmb, t.unit_postage, t.unit_cost, t.remark, t.sell_num, t.store_time, t.store_status, t.create_date, t.update_date, date_format(t.create_date, '%Y年%m月%d日 %T') as createDateFormat, date_format(t.update_date, '%Y年%m月%d日 %T') as updateDateFormat
	,tb.brand_name as brand_name ,tse.series_name as series_name ,tsp.single_name as single_name
	,tb.brand_ename as brand_ename ,tsp.single_ename as single_ename
    , (t.num - IFNULL(t.sell_num,0)) as residue_num 
    
    ,(select tsh.tracking_number from t_shipped ts, t_shipped_head tsh where ts.head_id = tsh.id and ts.id = t.shipped_id) as head_tracking_number
	,(select tc.batch_no from t_check tc where tc.id = t.check_id) as batch_no
    
	from t_store t
	left join t_brand tb on tb.brand_id = t.brand_id
	left join t_series tse on tse.series_id = t.series_id
	left join t_singleproduct tsp on tsp.single_id = t.single_id
	where 1=1
	<if test="param1.id != null and param1.id != ''">
		and t.id = #{param1.id}
	</if>
	<if test="param1.shippedId != null and param1.shippedId != ''">
		and t.shipped_id = #{param1.shippedId}
	</if>
	<if test="param1.checkId != null and param1.checkId != ''">
		and t.check_id = #{param1.checkId}
	</if>
	<if test="param1.trackingNumber != null and param1.trackingNumber != ''">
		and t.tracking_number = #{param1.trackingNumber}
	</if>
	<if test="param1.transferCompany != null and param1.transferCompany != ''">
		and t.transfer_company = #{param1.transferCompany}
	</if>
	<if test="param1.brandId != null and param1.brandId != ''">
		and t.brand_id = #{param1.brandId}
	</if>
	<if test="param1.seriesId != null and param1.seriesId != ''">
		and t.series_id = #{param1.seriesId}
	</if>
	<if test="param1.singleId != null and param1.singleId != ''">
		and t.single_id = #{param1.singleId}
	</if>
	<if test="param1.payby != null and param1.payby != ''">
		and t.payby = #{param1.payby}
	</if>
	<if test="param1.storeTime != null and param1.storeTime != ''">
		and t.store_time = #{param1.storeTime}
	</if>
	<if test="param1.storeStatus != null and param1.storeStatus != ''">
		and t.store_status = #{param1.storeStatus}
	</if>
	<if test="param1.headTrackingNumber != null and param1.headTrackingNumber != ''">
		and t.shipped_id in (select ts2.id from t_shipped ts2, t_shipped_head tsh2 where ts2.head_id = tsh2.id and tsh2.tracking_number = #{param1.headTrackingNumber})
	</if>
	<if test="param1.batchNo != null and param1.batchNo != ''">
		and t.check_id in (select tc2.id from t_check tc2 where tc2.batch_no = #{param1.batchNo})
	</if>
	<if test="param2 != null and param2 != ''">
		and t.store_time &gt;= #{param2}
	</if>
	<if test="param3 != null and param3 != ''">
		and t.store_time &lt;= #{param3}
	</if>
	<if test="param4 != null and param4 != ''">
		and t.store_status in 
		<foreach collection="param4" item="status" open="(" separator="," close=")">#{status}</foreach>
	</if>
	
	order by t.store_time desc, tb.brand_ename
	</select>
	
	<!-- 根据仓库唯一编号查询仓库信息 -->
	<select id="queryStoreById" parameterType="java.lang.Integer" resultMap="StoreResultMap">
	select t.id, t.shipped_id, t.check_id, t.tracking_number, t.transfer_company, t.brand_id, t.series_id, t.single_id, t.num, t.unit_price, t.payby, t.unit_rmb, t.unit_postage, t.unit_cost, t.remark, t.sell_num, t.store_time, t.store_status, t.create_date, t.update_date, date_format(t.create_date, '%Y年%m月%d日 %T') as createDateFormat, date_format(t.update_date, '%Y年%m月%d日 %T') as updateDateFormat
	,tb.brand_name as brand_name ,tse.series_name as series_name ,tsp.single_name as single_name
	,tb.brand_ename as brand_ename ,tsp.single_ename as single_ename
    , (t.num - IFNULL(t.sell_num,0)) as residue_num 
	from t_store t
	left join t_brand tb on tb.brand_id = t.brand_id
	left join t_series tse on tse.series_id = t.series_id
	left join t_singleproduct tsp on tsp.single_id = t.single_id
	where t.id = #{id}
	</select>
	
	<!-- 根据下单清单唯一编号查询仓库信息 -->
	<select id="queryStoreByCheckId" parameterType="java.lang.Integer" resultMap="StoreResultMap">
	select t.id, t.shipped_id, t.check_id, t.tracking_number, t.transfer_company, t.brand_id, t.series_id, t.single_id, t.num, t.unit_price, t.payby, t.unit_rmb, t.unit_postage, t.unit_cost, t.remark, t.sell_num, t.store_time, t.store_status, t.create_date, t.update_date, date_format(t.create_date, '%Y年%m月%d日 %T') as createDateFormat, date_format(t.update_date, '%Y年%m月%d日 %T') as updateDateFormat
	,tb.brand_name as brand_name ,tse.series_name as series_name ,tsp.single_name as single_name
	,tb.brand_ename as brand_ename ,tsp.single_ename as single_ename
    , (t.num - IFNULL(t.sell_num,0)) as residue_num 
	from t_store t
	left join t_brand tb on tb.brand_id = t.brand_id
	left join t_series tse on tse.series_id = t.series_id
	left join t_singleproduct tsp on tsp.single_id = t.single_id 
	where t.check_id = #{checkId}
	</select>
	
	<!-- 根据邮寄清单唯一编号查询入库清单信息 -->
	<select id="queryStoreByShippedId" parameterType="java.lang.Integer" resultMap="StoreResultMap">
	select t.id, t.shipped_id, t.check_id, t.tracking_number, t.transfer_company, t.brand_id, t.series_id, t.single_id, t.num, t.unit_price, t.payby, t.unit_rmb, t.unit_postage, t.unit_cost, t.remark, t.sell_num, t.store_time, t.store_status, t.create_date, t.update_date, date_format(t.create_date, '%Y年%m月%d日 %T') as createDateFormat, date_format(t.update_date, '%Y年%m月%d日 %T') as updateDateFormat
	,tb.brand_name as brand_name ,tse.series_name as series_name ,tsp.single_name as single_name
	,tb.brand_ename as brand_ename ,tsp.single_ename as single_ename
    , (t.num - IFNULL(t.sell_num,0)) as residue_num 
	from t_store t
	left join t_brand tb on tb.brand_id = t.brand_id
	left join t_series tse on tse.series_id = t.series_id
	left join t_singleproduct tsp on tsp.single_id = t.single_id 
	where t.shipped_id = #{shippedId}
	</select>
	
	<!-- 根据入库清单唯一编号查询记录（多个） -->
	<select id="queryStoreByIds" resultMap="StoreResultMap">
	select t.id, t.shipped_id, t.check_id, t.tracking_number, t.transfer_company, t.brand_id, t.series_id, t.single_id, t.num, t.unit_price, t.payby, t.unit_rmb, t.unit_postage, t.unit_cost, t.remark, t.sell_num, t.store_time, t.store_status, t.create_date, t.update_date, date_format(t.create_date, '%Y年%m月%d日 %T') as createDateFormat, date_format(t.update_date, '%Y年%m月%d日 %T') as updateDateFormat
	,tb.brand_name as brand_name ,tse.series_name as series_name ,tsp.single_name as single_name
	,tb.brand_ename as brand_ename ,tsp.single_ename as single_ename
    , (t.num - IFNULL(t.sell_num,0)) as residue_num 
	from t_store t
	left join t_brand tb on tb.brand_id = t.brand_id
	left join t_series tse on tse.series_id = t.series_id
	left join t_singleproduct tsp on tsp.single_id = t.single_id 
	where t.id in 
	<foreach collection="array" item="id" open="(" separator="," close=")">#{id}</foreach>
	</select>
	
	<!-- 根据下单清单唯一编号（多个）查询入库信息 -->
	<select id="queryStoreByCheckIds" resultMap="StoreResultMap">
	select t.id, t.shipped_id, t.check_id, t.tracking_number, t.transfer_company, t.brand_id, t.series_id, t.single_id, t.num, t.unit_price, t.payby, t.unit_rmb, t.unit_postage, t.unit_cost, t.remark, t.sell_num, t.store_time, t.store_status, t.create_date, t.update_date, date_format(t.create_date, '%Y年%m月%d日 %T') as createDateFormat, date_format(t.update_date, '%Y年%m月%d日 %T') as updateDateFormat
	,tb.brand_name as brand_name ,tse.series_name as series_name ,tsp.single_name as single_name
	,tb.brand_ename as brand_ename ,tsp.single_ename as single_ename
    , (t.num - IFNULL(t.sell_num,0)) as residue_num 
	from t_store t
	left join t_brand tb on tb.brand_id = t.brand_id
	left join t_series tse on tse.series_id = t.series_id
	left join t_singleproduct tsp on tsp.single_id = t.single_id
	where t.check_id in 
	<foreach collection="array" item="id" open="(" separator="," close=")">#{id}</foreach>
	</select>
	
	<!-- 查询入库信息时间段内信息 -->
	<select id="queryStoreForTimeQuantum" resultMap="StoreResultMap">
	select t.id, t.shipped_id, t.check_id, t.tracking_number, t.transfer_company, t.brand_id, t.series_id, t.single_id, t.num, t.unit_price, t.payby, t.unit_rmb, t.unit_postage, t.unit_cost, t.remark, t.sell_num, t.store_time, t.store_status, t.create_date, t.update_date, date_format(t.create_date, '%Y年%m月%d日 %T') as createDateFormat, date_format(t.update_date, '%Y年%m月%d日 %T') as updateDateFormat
	,tb.brand_name as brand_name ,tse.series_name as series_name ,tsp.single_name as single_name
	,tb.brand_ename as brand_ename ,tsp.single_ename as single_ename
    , (t.num - IFNULL(t.sell_num,0)) as residue_num 
	from t_store t
	left join t_brand tb on tb.brand_id = t.brand_id
	left join t_series tse on tse.series_id = t.series_id
	left join t_singleproduct tsp on tsp.single_id = t.single_id 
	where 1=1
	<if test="param1.id != null and param1.id != ''">
		and t.id = #{param1.id}
	</if>
	<if test="param1.shippedId != null and param1.shippedId != ''">
		and t.shipped_id = #{param1.shippedId}
	</if>
	<if test="param1.checkId != null and param1.checkId != ''">
		and t.check_id = #{param1.checkId}
	</if>
	<if test="param1.trackingNumber != null and param1.trackingNumber != ''">
		and t.tracking_number = #{param1.trackingNumber}
	</if>
	<if test="param1.transferCompany != null and param1.transferCompany != ''">
		and t.transfer_company = #{param1.transferCompany}
	</if>
	<if test="param1.brandId != null and param1.brandId != ''">
		and t.brand_id = #{param1.brandId}
	</if>
	<if test="param1.seriesId != null and param1.seriesId != ''">
		and t.series_id = #{param1.seriesId}
	</if>
	<if test="param1.singleId != null and param1.singleId != ''">
		and t.single_id = #{param1.singleId}
	</if>
	<if test="param1.payby != null and param1.payby != ''">
		and t.payby = #{param1.payby}
	</if>
	<if test="param1.storeTime != null and param1.storeTime != ''">
		and t.store_time = #{param1.storeTime}
	</if>
	<if test="param1.storeStatus != null and param1.storeStatus != ''">
		and t.store_status = #{param1.storeStatus}
	</if>
	<if test="param2 != null and param2 != ''">
		and t.store_time &gt;= #{param2}
	</if>
	<if test="param3 != null and param3 != ''">
		and t.store_time &lt;= #{param3}
	</if>
	
	order by t.store_time desc, tb.brand_ename
	</select>
	
	<!-- 查询仍有库存的所有记录 -->
	<select id="queryStoreForValidity" resultMap="StoreResultMap">
	select t.id, t.shipped_id, t.check_id, t.tracking_number, t.transfer_company, t.brand_id, t.series_id, t.single_id, t.num, t.unit_price, t.payby, t.unit_rmb, t.unit_postage, t.unit_cost, t.remark, t.sell_num, t.store_time, t.store_status, t.create_date, t.update_date, date_format(t.create_date, '%Y年%m月%d日 %T') as createDateFormat, date_format(t.update_date, '%Y年%m月%d日 %T') as updateDateFormat
	,tb.brand_name as brand_name ,tse.series_name as series_name ,tsp.single_name as single_name
	,tb.brand_ename as brand_ename ,tsp.single_ename as single_ename
    , (t.num - IFNULL(t.sell_num,0)) as residue_num 
	from t_store t
	left join t_brand tb on tb.brand_id = t.brand_id
	left join t_series tse on tse.series_id = t.series_id
	left join t_singleproduct tsp on tsp.single_id = t.single_id 
	where t.num > IFNULL(t.sell_num,0)
	order by t.store_time desc, tb.brand_ename
	</select>
	
	<!-- 查询入库清单，根据系列编号或单品编号查询 -->
	<select id="queryStoreForSync"  resultMap="StoreResultMap">
		select t.id, t.shipped_id, t.check_id, t.tracking_number, t.transfer_company, t.brand_id, t.series_id, t.single_id, t.num, t.unit_price, t.payby, t.unit_rmb, t.unit_postage, t.unit_cost, t.remark, t.sell_num, t.store_time, t.store_status, t.create_date, t.update_date, date_format(t.create_date, '%Y年%m月%d日 %T') as createDateFormat, date_format(t.update_date, '%Y年%m月%d日 %T') as updateDateFormat
		from  t_store t
		where 
		<if test="param1 != null and param1 != ''">
			series_id = #{param1}
		</if>
		<if test="param2 != null and param2 != ''">
			single_id = #{param2}
		</if>
	</select>
</mapper>