<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cat.manage.base.dao.CountryDao">

	<cache type="org.mybatis.caches.ehcache.LoggingEhcache"></cache>

	<resultMap type="com.cat.manage.base.domain.Country" id="countryResultMap">
		<id property="countryId" column="country_id"/>
		<result property="countryName" column="country_name"/>
		<result property="countryEname" column="country_ename"/>
		<result property="createDate" column="create_date"/>
		<result property="updateDate" column="update_date"/>
		<result property="createBy" column="create_by"/>
		<result property="updateBy" column="update_by"/>
		<result property="createDateFormat" column="createDateFormat"/>
		<result property="updateDateFormat" column="updateDateFormat"/>
	</resultMap>
	
	<!-- 添加国家信息 -->
	<insert id="addCountry" parameterType="com.cat.manage.base.domain.Country">
		insert into t_country(country_name, country_ename, create_date, create_by, update_date, update_by) 
		values(#{countryName}, #{countryEname}, now(), "system", now(), "system")
	</insert>
	
	<!-- 修改国家信息 -->
	<update id="updateCountry" parameterType="com.cat.manage.base.domain.Country">
		update t_country set update_date=now() , update_by = 'system'
		<if test="countryName != null and countryName != ''">
			, country_name = #{countryName}
		</if>
		<if test="countryEname != null and countryEname != ''">
			, country_ename = #{countryEname}
		</if>
		where country_id = #{countryId}
	</update>
	
	<!-- 删除国家信息 -->
	<delete id="deleteCountry" parameterType="java.lang.Integer">
		delete from t_country where country_id = #{countryId}
	</delete>
	
	<!-- 查询国家信息 -->
	<select id="queryCountrys" parameterType="com.cat.manage.base.domain.Country" resultMap="countryResultMap">
		select country_id, country_name, country_ename, create_date, create_by, update_date, update_by, date_format(create_date, '%Y年%m月%d日 %T') as createDateFormat, date_format(update_date, '%Y年%m月%d日 %T') as updateDateFormat 
		from t_country where 1=1 order by create_date desc
	</select>
</mapper>